/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Controllers Styling */
#zoom-controller--bottom {
  background-color: rgb(34, 34, 34);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 777;
}

#zoom-controller--top {
  height: 70px;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 777;
  color: white;
}

/* Main Content Styling */
.video {
  height: 100vh;
  overflow-y: auto;
  background-color: black;
  padding: 70px 80px 80px 80px;
}

.row {
  display: flex;
  gap: 10px;
}

.row-img {
  width: calc(100% / 7 - 6px);
  position: relative;
}

/* No-Mic Label */
.mic-label {
  position: absolute;
  color: white;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
}


/* Top Menu Controller */
.view {
  background-color: gray;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
}

.view--big {
  background-color: gray;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
}

.top-menu--view {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

/* Bottom Menu Controller */

.left-menu .fa-microphone {
  font-size: 30px;
}

.left-menu span {
  font-size: 16px;
  padding-top: 5px;
}

.left-menu {
  padding: 20px;
}

/* Bottom Menu Container */
.bottom-menu-container {
  display: flex;
}


/* Bottom Left Menu */
.icon {
  font-size: 30px;
}

.arrow {
  font-size: 15px;
}

.btm-left-menu {
  display: flex;
  gap: 20px;
  width: 20%;
  padding: 10px;
}

.text {
  color: white;
  font-size: 13px;
  padding-top: 5px;
}

/* Bottom Mid Menu */

.btm-mid-menu {
  display: flex;
  gap: 20px;
  width: 60%;
  justify-content: center;
  padding: 10px;
}

.fa-share-from-square {
  color: green;
}

/* Bottom Right Menu */
.btm-right-menu {
  text-align: end;
  width: 20%;
}

.close {
  color: red;
  background-color: #555;
  font-size: 13px;
  padding: 30px;
}